@import '~appUtils/styling/colors';
@import '~appUtils/styling/placeholders';
@import '~appUtils/styling/mediaQueries';

$container-height: calc(100vh - 143px); // 100% of the viewport, minus the height of the header + pay-off text
$container-height-mobile: calc(100vh - 134px);

.last-episode-container {
    position: relative;
    display: flex;
    min-height: $container-height;
    @media screen and (max-width: $phone) {
        min-height: $container-height-mobile;
        height: 100%;
    }

    .content {
        @extend %page-container;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 300;
        @media screen and (max-width: $phone) {
            min-height: $container-height-mobile;
            height: 100%;
            padding: 40px 20px;
        }
    }

    .episode-image {
        min-height: $container-height;
        width: 100%;
        @media screen and (max-width: $phone) {
            min-height: $container-height-mobile;
            height: 100%;
        }
    }
}
