@import '~appUtils/styling/colors';

.play-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px 12px 65px;
    color: white;
    font-size: 1.5em;
    line-height: 1.2em;
    border: 5px solid white;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    &:before {
        position: absolute;
        top: 12px;
        left: 22px;
        font-size: 1.2em;
        font-family: "FontAwesome";
    }

    &.start-playing {
        border-color: white;
        background: transparent;

        &:hover {
            color: $main-color;
            background: white;
        }
        &:before {
            content: "\f04b";
        }
    }
    &.stop-playing {
        color: white;
        border-color: $secondary-color;
        background: $secondary-color;

        &:hover {
            color: white;
            border-color: $secondary-color-dark;
            background: $secondary-color-dark;
        }
        &:before {
            content: "\f04d";
        }
    }
}
