@import '~appUtils/styling/mediaQueries';
@import '~appUtils/styling/placeholders';

.episode-detail-container-episode-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 300px;

    .episode-info-container {
        @extend %page-container;
        width: 100%;
        position: relative;
        z-index: 300;
        @media screen and (max-width: $phone) {
            padding: 40px 20px;
        }
    }

    .episode-image {
        background-position: initial;
    }
}
