@import '~utils/styling/colors';
@import '~utils/styling/placeholders';

.episode-detail-container-links {
    padding-top: 20px;

    .links-container {
        .link {
            &:after {
                content: '\f08e';
                margin-left: 7px;
                font-family: 'FontAwesome';
                font-size: 12px;
                text-decoration: none;
            }
            &:not(:last-child) {
                margin-bottom: 5px;
            }

            a {
                display: inline-block;
                color: $main-color;
                text-decoration: none;
                &:hover {
                    color: $main-color-dark;
                }
            }
        }
    }
}
