@import '~appUtils/styling/colors';
@import '../Header/Subcomponents/@shared/styling/NavigationLinks';

.mobile-navigation-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000;

    .bm-menu-wrap {
        background: $background-dark;

        .bm-menu {
            margin-top: 40px;
            padding: 0 15px;

            .bm-item-list {
                a {
                    @extend %navigation-link;
                    margin-bottom: 5px;
                    border-color: $background;
                }

                .social-media-title {
                    @extend %navigation-link;
                    margin-top: 15px;
                    border: 0 !important;
                }

                .social-media-button {
                    font-size: 1.2em;
                    border: 0 !important;
                }
            }
        }

        .bm-cross-button .bm-cross {
            background: white;
        }
    }

    .bm-burger-button {
        position: absolute;
        top: 30px;
        right: 25px;
        width: 28px;
        height: 26px;

        .bm-burger-bars {
            background: white;
        }
    }
}
