$font-size: 20px;

.extra-topics-container {
    color: white;
    margin-bottom: 30px;

    .extra-topics-title {
        font-size: $font-size;
    }

    .extra-topics-list {
        font-size: $font-size;
    }
}
