@import '~appUtils/styling/colors';
@import "~appUtils/styling/placeholders";
@import '~appUtils/styling/mediaQueries';

$container-height: calc(100vh - 134px); // 100% of the viewport, minus the height of the header + pay-off text

.last-episode-container {
    .content {
        @extend %page-container;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: $container-height;
        z-index: 300;
        @media screen and (max-width: $phone) {
            min-height: $container-height;
            height: 100%;
        }
    }

    .episode-image {
        height: $container-height;
        width: 100%;
        @media screen and (max-width: $phone) {
            min-height: $container-height;
            height: 100%;
        }
    }
}
