@import '~appUtils/styling/colors';

.last-episode-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 134px); // 100% of the viewport, minus the height of the header + pay-off text
    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('./images/lastepisodebg.jpg');
        background-size: cover;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.15));
        }
    }
}
