@import '~utils/styling/colors';
@import '../@shared/styling';

$icon-size: 60px;

.rss-feed-source-container {
    @extend %other-podcast-source-container;

    > a {
        @extend %other-podcast-source-button;
        &:hover {
            text-decoration: none;
        }

        .icon:before {
            content: '\f09e';
            color: white;
            font-size: 1.3em;
            font-family: 'FontAwesome';
        }
    }
}
