@import '~utils/styling/colors';
@import '~utils/styling/mediaQueries';

.pay-off-text-container {
    width: 100%;
    height: 34px;
    padding: 5px 20px;
    color: white;
    font-weight: 500;
    background: $main-color-dark;
    @media screen and (max-width: $phone) {
        height: auto;
        text-align: center;
        font-size: 0.9em;
    }
}
