.header-bar .logo-container {
    display: inline-block;
    vertical-align: top;
    height: 100%;

    .logo {
        display: inline-block;
        vertical-align: top;
        &.studio {
            height: 50px;
            margin-top: 18px;
        }
        &.emblem {
            margin: 20px 10px 0;
            border-radius: 50%;
            background: white;
            & > img {
                height: 60px;
                padding: 5px;
            }
        }
        &.magic {
            height: 65px;
            margin-top: 23px;
        }
    }
}
