@import '~utils/styling/colors';

.episode-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    .episode-info-number,
    .episode-info-name {
        color: white;
        font-size: 0.8em;
        line-height: 1em;
    }

    .episode-info-number {
        margin-right: 5px;
    }

    .episode-info-name {
        font-weight: 500;
    }
}
