@import '~appUtils/styling/colors';

.episode-detail-container-credits {
    padding-top: 20px;

    .credit-container {
        &:not(:last-child) {
            margin-bottom: 5px;
        }

        .credits-type,
        .credits-names {
            display: inline-block;
            vertical-align: top;
        }

        .credits-type {
            min-width: 120px;
            font-weight: 500;
        }

        .credits-names {
            max-width: calc(100% - 150px);

            .extra-music-credit {
                margin-top: 5px;
            }

            .link {
                display: block;
                color: $text-color;
                text-decoration: none;
                &.creative-commons:after {
                    content: "\f08e";
                    margin-left: 7px;
                    font-family: "FontAwesome";
                    font-size: 12px;
                    text-decoration: none;
                }

                a {
                    display: inline-block;
                    color: $main-color;
                    text-decoration: none;
                    &:hover {
                        color: $main-color-dark;
                    }
                }
            }
        }
    }
}
