@import '~utils/styling/colors';

$button-size: 25px;

a.footer-social-media-button {
    display: inline-flex;
    justify-content: center;
    width: $button-size;
    height: $button-size;
    margin-right: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    &:hover {
        color: $background-dark;
        text-decoration: none;
        background: $main-color;
    }

    .icon:before {
        color: $background-dark;
        font-family: 'FontAwesome';
        font-size: 18px;
    }

    &.instagram .icon:before {
        content: '\f16d';
    }
    &.facebook .icon:before {
        content: '\f09a';
    }
    &.twitter .icon:before {
        content: '\f099';
    }
    &.linkedin .icon:before {
        content: '\f0e1';
    }
}
