@import "~appUtils/styling/colors";
@import '~appUtils/styling/mediaQueries';
@import '../../@shared/styling/NavigationLinks';

a.social-media-button {
    @extend %navigation-link;
    display: inline-block;
    width: 35px;
    padding-top: 10px;
    text-align: center;
    font-family: "FontAwesome";
    font-size: 1.1em;

    @media screen and (max-width: $phone) {
        display: none;
    }

    &.facebook:before {
        content: "\f09a";
    }
    &.twitter:before {
        content: "\f099";
    }
}
