@import '~appUtils/styling/placeholders';

.episode-detail-container-schedule {
    @extend %page-container;
    @extend %page-container-alternate;

    .schedule-container {
        .time-schedule {
            &:not(:last-child) {
                margin-bottom: 5px;
            }

            .time-stamp,
            .topic {
                display: inline-block;
            }

            .time-stamp {
                min-width: 80px;
                font-weight: 500;
            }
        }
    }
}
