@import '~utils/styling/colors';
@import '~utils/styling/mediaQueries';

.episode-detail-container-description {
    padding-top: 40px;
    font-size: 1.1em;
    @media screen and (max-width: $phone) {
        padding-top: 0;
    }

    .description-part:not(:last-child) {
        padding-bottom: 20px;
    }

    a {
        color: $main-color;
        text-decoration: none;
        &:hover {
            color: $main-color-dark;
        }
    }
}
