@import '~utils/styling/mediaQueries';

.description-container {
    margin-bottom: 50px;
    color: white;
    font-size: 1.75em;
    line-height: 1.2em;
    @media screen and (max-width: $phone) {
        margin-bottom: 30px;
        font-size: 1.3em;
    }
}
