@import "~appUtils/styling/colors";

$bar-height: 60px;

.episode-player-bar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $bar-height;
    background: $background-dark;
    z-index: 9999;

    .episode-player-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $bar-height;

        .current-time-max-duration {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sound-source {
            display: none;
        }
    }
}
