@import '~utils/styling/colors';

$bar-height: 90px;

.episode-player-bar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $bar-height;
    padding: 0 15px;
    border-top: 2px solid $main-color;
    background: $background-dark;
    z-index: 9999;
    transition: bottom 0.5s;
    &.inactive {
        bottom: -$bar-height;
    }

    .episode-player-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $bar-height;

        .episode-player-bar-info-seeker-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            max-width: 500px;
            margin: 0 20px;
        }

        .sound-source {
            display: none;
        }
    }
}
