.episode-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: top;
    z-index: 250;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.45));
        z-index: 251;
    }

    // Episodes image
    &.episode-1 {
        background-image: url('./images/1.jpg');
    }
    &.episode-2 {
        background-image: url('./images/2.jpg');
    }
    &.episode-3 {
        background-image: url('./images/3.jpg');
    }
    &.episode-4 {
        background-image: url('./images/4.jpg');
    }
    &.episode-5 {
        background-image: url('./images/5.jpg');
    }
    &.episode-6 {
        background-image: url('./images/6.jpg');
    }
    &.episode-7 {
        background-image: url('./images/7.jpg');
    }
    &.episode-8 {
        background-image: url('./images/8.jpg');
    }
    &.episode-9 {
        background-position: bottom;
        background-image: url('./images/9.jpg');
    }
    &.episode-10 {
        background-image: url('./images/10.jpg');
    }
    &.episode-11 {
        background-position: center;
        background-image: url('./images/11.jpg');
    }
    &.episode-12 {
        background-image: url('./images/12.jpg');
    }
    &.episode-13 {
        background-image: url('./images/13.jpg');
    }
    &.episode-14 {
        background-image: url('./images/14.jpg');
    }
    &.episode-15 {
        background-image: url('./images/15.jpg');
    }
    &.episode-16 {
        background-image: url('./images/16.jpg');
    }
    &.episode-17 {
        background-image: url('./images/17.jpg');
    }
    &.episode-18 {
        background-image: url('./images/18.jpg');
    }
    &.episode-19 {
        background-image: url('./images/19.jpg');
    }
    &.episode-20 {
        background-image: url('./images/20.jpg');
    }
    &.episode-21 {
        background-image: url('./images/21.jpg');
    }
    &.episode-22 {
        background-image: url('./images/22.jpg');
    }
    &.episode-23 {
        background-position: bottom;
        background-image: url('./images/23.jpg');
    }
    &.episode-24 {
        background-image: url('./images/24.jpg');
    }
    &.episode-25 {
        background-position: center;
        background-image: url('./images/25.jpg');
    }
    &.episode-26 {
        background-image: url('./images/26.jpg');
    }
    &.episode-27 {
        background-position: center;
        background-image: url('./images/27.jpg');
    }
    &.episode-28 {
        background-image: url('./images/28.jpg');
    }
    &.episode-29 {
        background-image: url('./images/29.png');
    }
    &.episode-30 {
        background-image: url('./images/30.jpg');
    }
    &.episode-31 {
        background-position: center;
        background-image: url('./images/31.jpg');
    }
    &.episode-32 {
        background-image: url('./images/32.jpg');
    }
    &.episode-33 {
        background-position: center 35%;
        background-image: url('./images/33.jpg');
    }
    &.episode-34 {
        background-image: url('./images/34.jpg');
    }
}
