@import '~appUtils/styling/colors';
@import '~appUtils/styling/mediaQueries';

.other-podcast-sources-container {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    flex-grow: 1;
    @media screen and (max-width: $phone) {
        align-items: center;
        align-self: center;
    }

    .other-podcast-sources {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        background: rgba($text-color, 0.8);

        .podcast-sources-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
