@import "~appUtils/styling/colors";
@import '~appUtils/styling/mediaQueries';

$bar-height: 100px;
$mobile-bar-height: 86px;

.header-bar {
    position: relative;
    display: flex;
    width: 100%;
    height: $bar-height;
    padding: 0 20px;
    background: $main-color;
    @media screen and (max-width: $phone) {
        height: $mobile-bar-height;
        text-align: center;
    }

    .logo-container {
        flex-basis: 70%;
        @media screen and (max-width: $phone) {
            flex-basis: 100%;
            height: $mobile-bar-height;
        }
    }

    .social-navigation-container {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        @media screen and (max-width: $phone) {
            display: none;
        }
    }
}
