$main-color:            #26A69A;
$main-color-light:      #00897B;
$main-color-dark:       #80CBC4;
$secondary-color:       #AB47BC;
$secondary-color-light: #CE93D8;
$secondary-color-dark:  #8E24AA;
$text-color:            #212121;
$text-color-white:      white;
$background:            #FAFAFA;
$background-dark:       #212121;
