@import '~appUtils/styling/mediaQueries';

.episode-detail-container-episode-info .episode-name {
    margin: 0;
    color: white;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1em;
    @media screen and (max-width: $phone) {
        font-size: 2.8em;
        margin-bottom: 25px;
    }
}
