@import '~utils/styling/colors';
@import '~utils/styling/placeholders';
@import '~utils/styling/mediaQueries';

.other-podcast-sources-container {
    background: white;

    .other-podcast-sources {
        @extend %page-container;
        @extend %page-container-alternate;

        .podcast-sources-container {
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $phone) {
                flex-wrap: wrap;
            }
        }
    }
}
