@import '~appUtils/styling/colors';
@import '~appUtils/styling/placeholders';

.episode-detail-container-links {
    @extend %page-container;

    .links-container {
        a {
            display: block;
            color: $text-color;
            text-decoration: underline;
            &:hover {
                color: $main-color;
            }
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}
