@import '~appUtils/styling/mediaQueries';
@import '~appUtils/styling/placeholders';

.episode-detail-container {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: $phone) {
        flex-wrap: wrap;
    }

    .episode-detail-info-container,
    .episode-navigation-container {
        @extend %page-container;
        @extend %page-container-episode-detail;
    }

    .episode-navigation-container {
        margin: 0;
        @media screen and (max-width: $phone) {
            width: 100%;
            text-align: center;
        }
    }
}
