@import '~appUtils/styling/colors';
@import '~appUtils/styling/mediaQueries';
@import '~appUtils/styling/placeholders';

$footer-content-margin: 25px;

.footer-container {
    background: $background-dark;

    .footer-page-container {
        @extend %page-container;
        display: flex;
        align-content: flex-start;
        padding-bottom: 100px;
        color: white;
        @media screen and (max-width: $phone) {
            flex-direction: column;
        }

        > * {
            margin-right: $footer-content-margin;
            @media screen and (max-width: $phone) {
                width: 100%;
                margin: 0 0 $footer-content-margin 0;
            }
        }

        .copyright-and-site-credits-container {
            flex-grow: 1;
            align-self: flex-end;
            margin-right: 0;
            text-align: right;
            @media screen and (max-width: $phone) {
                text-align: left;
            }
        }

        .footer-header {
            display: block;
            width: 100%;
            margin-bottom: 5px;
            font-size: 0.9em;
            font-weight: 700;
            text-transform: uppercase;
        }

        a {
            color: white;
            &:hover {
                color: $main-color;
                text-decoration: none;
            }
        }
    }
}
