@import '~appUtils/styling/colors';
@import '~appUtils/styling/placeholders';

.footer-container {
    background: $background-dark;

    .footer-page-container {
        @extend %page-container;
        padding-bottom: 100px;
        color: white;

        .footer-header {
            font-size: 0.9em;
            font-weight: 700;
            text-transform: uppercase;
        }

        a {
            color: white;
            &:hover {
                color: $main-color;
                text-decoration: none;
            }
        }
    }
}
