@import "~appUtils/styling/colors";

$button-size: 25px;

a.footer-social-media-button {
    display: inline-flex;
    justify-content: center;
    width: $button-size;
    height: $button-size;
    margin-right: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background: $main-color;
    }
    &:before {
        color: $background-dark;
        font-family: "FontAwesome";
        font-size: 18px;
    }
    &:hover:before {
        color: white;
    }

    &.facebook:before {
        content: "\f09a";
    }
    &.twitter:before {
        content: "\f099";
    }
}
