@import '~utils/styling/colors';
@import '~utils/styling/mediaQueries';
@import '../../@shared/styling/NavigationLinks';

a.social-media-button {
    @extend %navigation-link;
    display: inline-block;
    width: 35px;
    padding-top: 10px;
    text-align: center;
    font-family: 'FontAwesome';
    font-size: 1.2em;

    @media screen and (max-width: $phone) {
        display: none;
    }

    &.facebook .icon:before {
        content: '\f09a';
    }
    &.twitter .icon:before {
        content: '\f099';
    }
}
