@import "~appUtils/styling/colors";
@import '~appUtils/styling/mediaQueries';
@import '../@shared/styling/NavigationLinks';

.navigation-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;
    @media screen and (max-width: $phone) {
        display: none;
    }

    a {
        @extend %navigation-link;
    }
}
