@import "~appUtils/styling/colors";
@import '~appUtils/styling/mediaQueries';

.navigation-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;
    @media screen and (max-width: $phone) {
        display: none;
    }

    a {
        display: inline-block;
        padding: 12px 3px 7px;
        color: $background;
        font-weight: 900;
        font-size: 0.9em;
        text-transform: uppercase;
        line-height: 1em;
        border-bottom: 5px solid transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        &:hover {
            color: $background;
            text-decoration: none;
            border-color: $background;
        }
    }
}
