@import '~utils/styling/colors';

.timer-display {
    font-size: 0.8em;

    &.currentTime {
        color: $main-color-light;
        font-weight: 500;
    }
    &.maxDuration {
        color: white;
        flex-grow: 1;
        text-align: right;
    }
}
