@import '~utils/styling/colors';

.episode-tile-play-button-container {
    display: inline-block;
    margin: 10px 5px 10px 15px;

    .episode-tile-play-button {
        position: relative;
        padding: 8px 16px;
        color: white;
        font-weight: 500;
        font-size: 0.875rem;
        text-transform: uppercase;
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        cursor: pointer;
        &:hover {
            color: white;
            text-decoration: none;
        }
        &:after {
            margin-left: 12px;
            font-size: 1em;
            font-family: 'FontAwesome';
        }

        &.start-playing {
            background: $main-color;
            &:hover {
                background: $main-color-dark;
            }
            &:after {
                content: '\f04b';
            }
        }

        &.stop-playing {
            background: $secondary-color;
            &:hover {
                background: $secondary-color-dark;
            }
            &:after {
                content: '\f04d';
            }
        }
    }
}
