@import "~bootstrap/scss/bootstrap";
@import "~appUtils/styling/colors";
@import '~appUtils/styling/mediaQueries';
@import "~appUtils/styling/placeholders";

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: $background;

    #root {
        min-height: 100vh;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        color: $text-color;
        font-size: 16px;

        .App {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;

            .container {
                flex-grow: 1;
                width: 100%;
                max-width: 100%;
                height: calc(100% - 105px);
                padding: 0;

                div[class^="page-"]:not(.page-landing):not(.page-episode-detail) {
                    @extend %page-container;

                    @media screen and (max-width: $phone) {
                        padding-top: 20px;
                    }
                }

                h1 {
                    font-size: 2em;
                    font-weight: 900;
                }
            }
        }
    }
}
