@import '~utils/styling/mediaQueries';
@import '~utils/styling/placeholders';

.contact-container {
    background: white;

    .contact-page-container {
        @extend %page-container;
        @extend %page-container-alternate;

        .contact-links {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .contact-links-email {
                text-decoration: underline;
            }

            .contact-links-divider {
                position: relative;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    width: 10px;
                    height: 1px;
                    background: black;
                }

                &::before {
                    left: -15px;
                }

                &::after {
                    right: -15px;
                }
            }

            .contact-links-social {
            }
        }
    }
}
