.episode-detail-container-schedule {
    padding-top: 20px;

    .schedule-container {
        .time-schedule {
            &:not(:last-child) {
                margin-bottom: 5px;
            }

            .time-stamp,
            .topic {
                display: inline-block;
                vertical-align: top;
            }

            .time-stamp {
                min-width: 80px;
                font-weight: 500;
            }

            .topic {
                max-width: calc(100% - 90px);
            }
        }
    }
}
