$image-height: 200px;

.episode-tile-info {
    position: relative;
    height: $image-height;
    > *:not(.episode-image) {
        position: relative;
        width: 100%;
        z-index: 260;
    }

    .episode-image {
        height: $image-height;
    }
}
