@import '~appUtils/styling/mediaQueries';

.header-bar .logo-container {
    display: inline-block;
    vertical-align: top;
    height: 100%;

    .logo {
        display: inline-block;
        vertical-align: top;
        &.studio {
            height: 50px;
            margin-top: 18px;
            @media screen and (max-width: $phone) {
                height: 30px;
                margin-top: 19px;
            }
        }
        &.emblem {
            margin: 20px 10px 0;
            border-radius: 50%;
            background: white;
            @media screen and (max-width: $phone) {
                height: 20px 10px 0;
            }
            & > img {
                height: 60px;
                padding: 5px;
                @media screen and (max-width: $phone) {
                    height: 39px;
                }
            }
        }
        &.magic {
            height: 65px;
            margin-top: 23px;
            @media screen and (max-width: $phone) {
                height: 39px;
                margin-top: 22px;
            }
        }
    }
}
