@import "~appUtils/styling/colors";

.episode-info {
    margin-bottom: 3px;

    .episode-info-number,
    .episode-info-name {
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-size: 0.8em;
        line-height: 1em;
    }

    .episode-info-number {
        text-transform: uppercase;
        margin-right: 5px;
    }

    .episode-info-name {
        font-weight: 500;
    }
}
