@import "~appUtils/styling/colors";

.episode-info {
    margin: 0 15px;

    .episode-info-number,
    .episode-info-name {
        color: white;
        font-size: 0.8em;
        line-height: 1em;
    }

    .episode-info-number {
        text-transform: uppercase;
        margin-bottom: 2px;
    }

    .episode-info-name {
        font-weight: 500;
    }
}
