@import '~utils/styling/colors';
@import '../@shared/styling';

$icon-size: 40px;

.podcast-source-container {
    @extend %other-podcast-source-container;

    > a {
        @extend %other-podcast-source-button;

        > img {
            height: $icon-size;
            width: $icon-size;
        }
    }
}
